# Transformacija trening skupa

Ova bilježnica je namijenjena transformaciji trening skupa u skup koji ima isti 'format' kao i test skup. Uzet ćemo pickle file u kojem je originalni trening skup i od njega napraviti novi pickle file imena 'korigirani_trening_dataset_enc'

In [1]:
import pandas as pd
import numpy as np
from script.feature_engineering import *
import functools

In [2]:
los_train = pd.read_pickle('../data/training_dataset_enc.pkl')

In [3]:
los_train.head()

,DATUM_IZVJESTAVANJA,KLIJENT_ID,OZNAKA_PARTIJE,DATUM_OTVARANJA,PLANIRANI_DATUM_ZATVARANJA,DATUM_ZATVARANJA,UGOVORENI_IZNOS,STANJE_NA_KRAJU_PRETH_KVARTALA,STANJE_NA_KRAJU_KVARTALA,VALUTA,VRSTA_KLIJENTA,PROIZVOD,VRSTA_PROIZVODA,VISINA_KAMATE,TIP_KAMATE,STAROST,PRIJEVREMENI_RASKID
0,2011-03-31,1287,256528,1995-10-19,2011-01-11,NaT,0.0,32761.66,32941.42,2,1410,TM0109,L,2.3,C,900,False
1,2011-03-31,1588,256644,1996-03-06,2011-01-23,NaT,0.0,95994.03,96616.95,2,1410,TM0109,L,2.7,C,61,False
2,2011-03-31,1145,293918,1996-07-03,2011-07-31,NaT,71552.0,4957.10,2730.69,4,1610,FL1306,A,4.0,C,55,False
3,2011-03-31,3349,257283,1996-07-16,2011-07-28,NaT,0.0,65791.77,65770.70,2,1410,TM0109,L,3.3,C,86,False
4,2011-03-31,3363,257287,1996-07-17,2011-01-10,NaT,0.0,88678.13,89342.01,2,1550,TM0109,L,3.1,C,69,False

In [4]:
los_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5193124 entries, 0 to 5193123
Data columns (total 17 columns):
DATUM_IZVJESTAVANJA               datetime64[ns]
KLIJENT_ID                        category
OZNAKA_PARTIJE                    category
DATUM_OTVARANJA                   datetime64[ns]
PLANIRANI_DATUM_ZATVARANJA        datetime64[ns]
DATUM_ZATVARANJA                  datetime64[ns]
UGOVORENI_IZNOS                   float64
STANJE_NA_KRAJU_PRETH_KVARTALA    float64
STANJE_NA_KRAJU_KVARTALA          float64
VALUTA                            category
VRSTA_KLIJENTA                    category
PROIZVOD                          category
VRSTA_PROIZVODA                   category
VISINA_KAMATE                     float64
TIP_KAMATE                        category
STAROST                           int64
PRIJEVREMENI_RASKID               bool
dtypes: bool(1), category(7), datetime64[ns](4), float64(4), int64(1)
memory usage: 432.3 MB

In [5]:
grupacija = los_train.groupby(['OZNAKA_PARTIJE', 'DATUM_OTVARANJA', 'PLANIRANI_DATUM_ZATVARANJA'])

In [6]:
indeksi = np.array(
    [list(i) for i in grupacija.size().sort_values(ascending = False).index],
    dtype = object,
    order = 'C'
)

In [7]:
indeksi

array([[4199321, Timestamp('2009-01-21 00:00:00'),
        Timestamp('2019-01-31 00:00:00')],
       [1228232, Timestamp('2007-03-28 00:00:00'),
        Timestamp('2037-01-31 00:00:00')],
       [5285555, Timestamp('2010-04-09 00:00:00'),
        Timestamp('2020-04-30 00:00:00')],
       ...,
       [6938616, Timestamp('2016-04-14 00:00:00'),
        Timestamp('2016-04-14 00:00:00')],
       [6938616, Timestamp('2015-10-13 00:00:00'),
        Timestamp('2016-04-14 00:00:00')],
       [6705103, Timestamp('2012-01-30 00:00:00'),
        Timestamp('2012-07-31 00:00:00')]], dtype=object)

In [8]:
# ovako izgleda jedna grupacija. Uzeli smo prvi indeks iz polja indeksi, a posto je sve sortirano po velicini
# tablica, ovo ispada kao najveca tablica
grupacija.get_group((4199321, pd.Timestamp('2009-01-21 00:00:00'),
        pd.Timestamp('2019-01-31 00:00:00')))

,DATUM_IZVJESTAVANJA,KLIJENT_ID,OZNAKA_PARTIJE,DATUM_OTVARANJA,PLANIRANI_DATUM_ZATVARANJA,DATUM_ZATVARANJA,UGOVORENI_IZNOS,STANJE_NA_KRAJU_PRETH_KVARTALA,STANJE_NA_KRAJU_KVARTALA,VALUTA,VRSTA_KLIJENTA,PROIZVOD,VRSTA_PROIZVODA,VISINA_KAMATE,TIP_KAMATE,STAROST,PRIJEVREMENI_RASKID
96044,2011-03-31,324424,4199321,2009-01-21,2019-01-31,NaT,110751.3,97097.59,95083.54,2,1410,FL0801,A,9.95,C,59,False
274153,2011-06-30,324424,4199321,2009-01-21,2019-01-31,NaT,110751.3,95083.54,92939.08,2,1410,FL0801,A,9.95,C,59,False
470488,2011-09-30,324424,4199321,2009-01-21,2019-01-31,NaT,110751.3,92939.08,92312.74,2,1410,FL0801,A,9.95,C,59,False
685726,2011-12-31,324424,4199321,2009-01-21,2019-01-31,NaT,110751.3,92312.74,90563.62,2,1410,FL0801,A,9.20,C,60,False
886936,2012-03-31,324424,4199321,2009-01-21,2019-01-31,NaT,110751.3,90563.62,87991.66,2,1410,FL0801,A,9.20,C,60,False
1054526,2012-06-30,324424,4199321,2009-01-21,2019-01-31,NaT,110751.3,87991.66,85685.58,2,1410,FL0801,A,9.20,C,60,False
1239357,2012-09-30,324424,4199321,2009-01-21,2019-01-31,NaT,110751.3,85685.58,82618.57,2,1410,FL0801,A,9.20,C,60,False
1445038,2012-12-31,324424,4199321,2009-01-21,2019-01-31,NaT,110751.3,82618.57,81217.02,2,1410,FL0801,A,9.20,C,61,False
1652067,2013-03-31,324424,4199321,2009-01-21,2019-01-31,NaT,110751.3,81217.02,79123.72,2,1410,FL0801,A,9.20,C,61,False
1818018,2013-06-30,324424,4199321,2009-01-21,2019-01-31,NaT,110751.3,79123.72,75163.65,2,1410,FL0801,A,9.20,C,61,False
2001350,2013-09-30,324424,4199321,2009-01-21,2019-01-31,NaT,110751.3,75163.65,74116.82,2,1410,FL0801,A,9.20,C,61,False
2202142,2013-12-31,324424,4199321,2009-01-21,2019-01-31,NaT,110751.3,74116.82,71636.12,2,1410,FL0801,A,9.20,B,62,False
2408471,2014-03-31,324424,4199321,2009-01-21,2019-01-31,NaT,110751.3,71636.12,69025.95,2,1410,FL0801,A,9.22,B,62,False
2565807,2014-06-30,324424,4199321,2009-01-21,2019-01-31,NaT,110751.3,69025.95,65405.21,2,1410,FL0801,A,9.22,B,62,False
2738322,2014-09-30,324424,4199321,2009-01-21,2019-01-31,NaT,110751.3,65405.21,62956.13,2,1410,FL0801,A,9.22,B,62,False
2924600,2014-12-31,324424,4199321,2009-01-21,2019-01-31,NaT,110751.3,62956.13,60241.77,2,1410,FL0801,A,9.22,B,63,False
3113598,2015-03-31,324424,4199321,2009-01-21,2019-01-31,NaT,110751.3,60241.77,57031.28,2,1410,FL0801,A,8.99,B,63,False
3250412,2015-06-30,324424,4199321,2009-01-21,2019-01-31,NaT,110751.3,57031.28,53428.11,2,1410,FL0801,A,8.99,B,63,False
3396759,2015-09-30,324424,4199321,2009-01-21,2019-01-31,NaT,110751.3,53428.11,50571.83,2,1410,FL0801,A,8.99,B,63,False
3552392,2015-12-31,324424,4199321,2009-01-21,2019-01-31,NaT,110751.3,50571.83,47298.66,2,1410,FL0801,A,8.99,B,64,False
3707298,2016-03-31,324424,4199321,2009-01-21,2019-01-31,NaT,110751.3,47298.66,43281.76,2,1410,FL0801,A,8.72,B,64,False
3825767,2016-06-30,324424,4199321,2009-01-21,2019-01-31,NaT,110751.3,43281.76,39818.56,2,1410,FL0801,A,8.72,B,64,False
3952812,2016-09-30,324424,4199321,2009-01-21,2019-01-31,NaT,110751.3,39818.56,36319.66,2,1410,FL0801,A,8.72,B,64,False
4087436,2016-12-31,324424,4199321,2009-01-21,2019-01-31,NaT,110751.3,36319.66,32989.36,2,1410,FL0801,A,8.72,B,65,False
4228610,2017-03-31,324424,4199321,2009-01-21,2019-01-31,NaT,110751.3,32989.36,28871.96,2,1410,FL0801,A,8.58,B,65,False
4338869,2017-06-30,324424,4199321,2009-01-21,2019-01-31,NaT,110751.3,28871.96,25088.68,2,1410,FL0801,A,8.58,B,65,False
4458131,2017-09-30,324424,4199321,2009-01-21,2019-01-31,NaT,110751.3,25088.68,21610.29,2,1410,FL0801,A,8.58,B,65,False
4585171,2017-12-31,324424,4199321,2009-01-21,2019-01-31,NaT,110751.3,21610.29,17768.35,2,1410,FL0801,A,8.58,B,66,False
4718057,2018-03-31,324424,4199321,2009-01-21,2019-01-31,NaT,110751.3,17768.35,13663.72,2,1410,FL0801,A,8.47,B,66,False
4825403,2018-06-30,324424,4199321,2009-01-21,2019-01-31,NaT,110751.3,13663.72,9598.45,2,1410,FL0801,A,8.47,B,66,False
4941723,2018-09-30,324424,4199321,2009-01-21,2019-01-31,NaT,110751.3,9598.45,5576.87,2,1410,FL0801,A,8.47,B,66,False
5066743,2018-12-31,324424,4199321,2009-01-21,2019-01-31,NaT,110751.3,5576.87,1407.71,2,1410,FL0801,A,8.47,B,67,False

In [9]:
indeksi.shape

(1202933, 3)

In [10]:
identiteta_nula = lambda stupac, grupa : grupa[stupac].iloc[0]

# definirano zbog PLANIRANI_DATUM_ZATVARANJA i VISINA_KAMATE
def uzmi_nenull(stupac, alt, grupa):
    i = grupa[stupac].first_valid_index()
    return alt if i is None else grupa.loc[i, stupac]

broj_razl = lambda stupac, grupa : pd.notnull(grupa[stupac].unique()).sum()

In [11]:
import time
prije = time.time()

dobar_train = feat(
    grupacija,
    #tuple((tuple(indeks), grupacija.get_group(tuple(indeks))) for indeks in indeksi[:10000]),
    [
        ('KLIJENT_ID', functools.partial(identiteta_nula, 'KLIJENT_ID')),
        ('OZNAKA_PARTIJE', functools.partial(identiteta_nula, 'OZNAKA_PARTIJE')),
        ('DATUM_OTVARANJA', functools.partial(identiteta_nula, 'DATUM_OTVARANJA')),
        ('PLANIRANI_DATUM_ZATVARANJA', functools.partial(uzmi_nenull, 'PLANIRANI_DATUM_ZATVARANJA', pd.NaT)),
        ('UGOVORENI_IZNOS', functools.partial(identiteta_nula, 'UGOVORENI_IZNOS')),
        ('VALUTA', functools.partial(identiteta_nula, 'VALUTA')),
        ('VRSTA_KLIJENTA', functools.partial(identiteta_nula, 'VRSTA_KLIJENTA')),
        ('PROIZVOD', functools.partial(identiteta_nula, 'PROIZVOD')),
        ('VRSTA_PROIZVODA', functools.partial(identiteta_nula, 'VRSTA_PROIZVODA')),
        ('VISINA_KAMATE', functools.partial(uzmi_nenull, 'VISINA_KAMATE', np.nan)),
        ('TIP_KAMATE', functools.partial(identiteta_nula, 'TIP_KAMATE')),
        ('STAROST', functools.partial(identiteta_nula, 'STAROST')),
        (
            'PRIJEVREMENI_RASKID',
            lambda grupa : (grupa.DATUM_ZATVARANJA + pd.Timedelta(10, 'D') < grupa.PLANIRANI_DATUM_ZATVARANJA).any()
        )
    ]
)

print('Vrijeme: ' + str(time.time()-prije))

Vrijeme: 2587.408501625061

In [12]:
dobar_train.to_pickle('../data/dobar_trening_set.pkl')

In [24]:
dobar_train.drop(columns = ['ID'], inplace=True)
dobar_train.head()

,KLIJENT_ID,OZNAKA_PARTIJE,DATUM_OTVARANJA,PLANIRANI_DATUM_ZATVARANJA,UGOVORENI_IZNOS,VALUTA,VRSTA_KLIJENTA,PROIZVOD,VRSTA_PROIZVODA,VISINA_KAMATE,TIP_KAMATE,STAROST,PRIJEVREMENI_RASKID
0,33820,163007,2002-05-09,2011-05-31,1330964.46,2,1120,FL1310,A,8.5,C,20,False
1,1618,163116,2002-06-13,2012-07-02,7341597.63,2,1120,FL1310,A,0.0,B,19,False
2,221009,163312,2002-08-16,2012-11-08,7483237.00,2,1120,FL1310,A,0.0,B,21,False
3,85962,163577,2002-11-13,2011-02-25,793355.54,2,1430,FL1500,A,6.0,C,15,False
4,1061,163718,2002-12-17,2012-01-24,1411623.63,2,1120,FL1500,A,6.8,C,16,False
5,1061,163718,2002-12-17,2012-12-27,1411623.63,2,1120,FL1500,A,6.8,C,15,True
6,511687,163825,2003-01-27,2013-01-25,1127470.20,2,1430,FL1310,A,10.0,C,15,False
7,33820,164109,2003-04-15,2013-03-20,835442.09,2,1120,FL1310,A,8.5,C,20,False
8,1196781,164426,2003-07-23,2011-01-03,28501105.05,2,1110,FL1400,A,0.0,B,2,False
9,1196781,164426,2003-07-23,2013-06-20,28501105.05,2,1110,FL1400,A,0.0,B,2,True
10,4324,164527,2003-08-28,2013-07-05,7442962.00,2,1420,FE0100,A,0.0,B,31,False
11,195391,164971,2003-12-22,2014-12-01,10906865.67,2,1110,FL1500,A,4.0,A,10,False
12,358113,165184,2004-02-27,2014-03-28,229208.16,2,1430,FL0900,A,10.0,C,15,False
13,1196781,165329,2004-03-31,2011-01-03,13989656.30,2,1110,FL1400,A,0.0,B,2,False
14,1196781,165329,2004-03-31,2014-06-30,13989656.30,2,1110,FL1400,A,0.0,B,2,True
15,636272,165332,2004-04-01,2014-04-07,498244.81,2,1430,FL1310,A,9.8,C,14,False
16,4871,165358,2004-04-06,2012-03-30,4500213.00,2,1110,FL0202,A,0.0,B,22,False
17,4871,165358,2004-04-06,2012-04-02,4500213.00,2,1110,FL0202,A,0.0,B,21,False
18,326792,165380,2004-04-14,2011-11-30,1199032.64,2,1420,FL1500,A,0.0,B,20,False
19,326792,165419,2004-04-23,2011-11-28,2460937.16,2,1420,FL1500,A,0.0,B,20,False

In [14]:
(pd.isnull(dobar_train['PLANIRANI_DATUM_ZATVARANJA'])).sum()

0

In [15]:
(np.isnan(dobar_train['VISINA_KAMATE'])).sum()

1870

In [25]:
dobar_train = dobar_train.loc[pd.notnull(dobar_train['VISINA_KAMATE'])]

In [27]:
dobar_train.shape[0]

1201063